<main class='main'>
  <div class='contents'>

  <%# 紹介文 %>
    <div class='introduce'>
      <h1 class='intro'>いらすとーふって？</h1>
      <p class='intro_text'>「最近イラストを始めたばかり...」「まだまだ自分のイラストに自信が持てない...」「なかなか上手くなれない...」</p>
      <p class='intro_text'>いらすとーふは誰もが気楽にイラストを投稿できる場所です。自分の描いたイラストを投稿するもよし、他の人の描いたイラストにコメントして交流するのもよし...</p>
      <p class='intro_text'>豆腐のようにまったりと、イラストの共有をしませんか？</p>
    </div>
  <%# /紹介文 %>

  <%# イラスト一覧 %>
    <div class='illust-contents'>
      <h2 class='subtitle'>新規投稿いらすと</h2>
      <ul class='illusts'>
      <% @illusts.each do |illust|%>
      <div class=card>
          <li class='list'>
            <%= link_to '#' do%>
              <%=image_tag illust.image,class:'illust-img'%>
              <% end%>
          </li>
          <div class='illust-info'>
            <h3 class='illust-title'>
              <%= illust.title%>
            </h3>
            <h3 class='illust-user'>
              <%= illust.user.nickname%>
            </h3>
          </div>
        </div>
        <% end%>

        <% if @illusts.length ==0%>
        <div class='card'>
            <li class='list'>
            <%= link_to '#' do%>
            <%= image_tag '/assets/dammy.png',class: 'illust-img'%>
            <% end%>
            </li>
        </div>
        <% end%> 
      </ul>
    </div>
    <%# イラスト一覧 %>
    
  </div>
</main>