<div class='illust-show-content'>
  <div class='illust-show-main'>
      <p class=illust-show-text>
        <%= @illust.title%>
      </p>
      <% if user_signed_in? && current_user.id == @illust.user_id%>
        <div class='illust-manage'>
          <%= link_to '編集する',edit_illust_path(@illust.id),class:'illust-btn'%> 
          <%= link_to '削除する',illust_path(@illust.id),class:'illust-btn',method: :delete%> 
        </div>
      <% end%>
      <div class='show-image'>
        <%= image_tag @illust.image,width:'60%',height:'80%'%>
      </div>
      <div class='illust-show-text'>
        <%= @illust.text%>
      </div>
      <div class='illust-comments'>
        <% if user_signed_in?%>
          <%= form_with model: [@illust,@comment],class:'comment-form',local: true do |f|%>
            <div class='comment-field'>
              <h3 class='comment-title'>コメント<h3>
              <%= f.text_field :massage,class:'comment'%>
            </div>
            <div class='actions'>
              <%= f.submit "送信する"%>
            </div>
          <% end%>
        <%end%>
      </div>
      <ul class='comments_lists'>
        <% @comments.each do |comment|%>
          <li class='comment_list'>
          <%= comment.message%>
          <%= comment.user.nickname%>
          </li>
        <% end%>
      </ul>
  </div>
</div>