<div class='illust-show-content'>
  <div class='illust-show-main'>
      <p class=illust-show-text>
        <%= @illust.title%>
      </p>
      <div class='illust-manage'>
        <%= link_to '編集する','#',class:'illust-btn'%> 
        <%= link_to '削除する','#',class:'illust-btn'%> 
      </div>
      <div class='show-image'>
        <%= image_tag @illust.image,width:'60%',height:'80%'%>
      </div>
      <div class='illust-show-text'>
        <%= @illust.text%>
      </div>
  </div>
</div>