<!DOCTYPE html>
<html>
  <head>
    <title>Illustofu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='header'>
      <div class='nav'>
        <div class='nav_left'>
          <%= link_to image_tag('/assets/いらすとーふ.jpeg',class:'logo'),root_path%>
        </div>
        <ul class='nav_right'>
        <% if user_signed_in?%>
          <li> <%= link_to 'ログアウト',destroy_user_session_path,method: :delete, class:'logout'%> </li>
          <li> <%= link_to '投稿する',new_illust_path,class:'post'%> </li>
        <% else%>
          <li> <%= link_to '新規登録',new_user_registration_path,class:'sign-up'%> </li>
          <li> <%= link_to 'ログイン',new_user_session_path,class:'login'%> </li>
        <% end%>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class='footer'>

    </footer>
  </body>
</html>
